MONGO_URI="mongodb+srv://<db_username>:<db_password>@cluster0.llyuyhi.mongodb.net/"
CLIENT_URL=""
JWT_SECRET=""
GOOGLE_CLIENT_ID=xxxxxxxxxxxxx
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
MAX_FILE_SIZE_KB=500
MAX_FILES_PER_TASK=5
